<!DOCTYPE html>
<html id="ng-app" ng-app="timeTracker">
<head>	
	<link href="css/flatstrap.css" rel="stylesheet" media="screen">	
	<link href="css/font-awesome.css" rel="stylesheet">		
</head>
<body ng-controller='TimeTrackerCtrl'>
	<div class="container">
		<div>			
			<h1 style="text-align:center">Task++</h1>
			<br>
			<br>
			<div class="row">
				<div class="span6 offset2">
					<form name="form" class="input-append">
					  	<input class="span6" id="appendedInputButtons" type="text" ng-model="tarefa.nome" required placeholder="#1234 Tarefa do channel" />
					  	<button class="btn" type="button" ng-click="addTarefa(tarefa)" ng-disabled="form.$invalid">Nova Tarefa</button>
					</form>
				</div>
			</div>
			<div class="page-header">
			  <h2>Tarefas<small> em execução</small></h2>
			</div>
			<ul>
				<li ng-repeat='tarefa in tarefas' style="list-style-type: none;margin-bottom:30px;">					
					<div style="padding-bottom:4px; border-bottom:1px solid #eeeeee">
						<span class="label">{{tarefa.id}}</span>					
						<strong>{{tarefa.nome}}</strong>
						<div class="btn-group" style="float:right;">
						  <button class="btn" ng-click="addTempo(tarefa)"><i class="icon-play"></i></button>
						  <button class="btn" ng-show="tarefa.tempos" ng-click="pararContador()"><i class="icon-pause"></i></button>
						  <button class="btn" ng-click="removeTarefa($index)"><i class="icon-remove"></i></button>
						</div>
					</div>
					<ul class="icons-ul" style="margin-left:50px;">
						<li ng-repeat='tempo in tarefa.tempos' style="margin-top:10px;">
							<i class="icon-li icon-time"></i>
							{{tempo.criado_em}}, {{tempo.segundos|crono}}
						</li>
					</ul>					
				</li>
			</ul>
		</div>
	</div>
	
	<script src="js/lib/angular.js"></script>
	<script src="js/lib/localStorageModule.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/moment.min.js"></script>
	<script src="js/controllers.js"></script>	
</body>
</html>